
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html{
    scroll-behavior: smooth ;
  }

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    
    border: 0;
  
    font-family:'Butler_Regular' ; 

  }


body{
     position: relative;    
    /* display: flex; */
   /* flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center; */
    font-family:'Butler_Regular' ; 
}


main {
    min-height: 100%;
    background-image: url(/assets/images/main-imge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 34rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin: -0.5rem; */
    /* margin-top: -8rem; */

}

main > div{

    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    flex-direction: column;
 
}
nav > ul > li > a{
    font-family:'Poppins' !important;
}
nav {
 
    background-color: #B98E6B;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}
.logo{width: 50%;  }
.logo > img{
 width: 30%;  
 margin-bottom: 0.5rem; 
}

ul{
    display: flex;
    text-decoration: none;
    
}
li{
    margin: 1rem;
}

a{
    text-decoration: none;
    color: white;
    
}
.redes-sociais > a {
    color: grey;
    margin-left: 1rem;
}
li {
    text-decoration: none;
   list-style: none;
  }

button{
    cursor: pointer;
    background: transparent;
    color: white;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    border: white 2px solid;
    
}

.etapa > a > button:hover{
    background-color: #B98E6B;
}
.etapa > button{
    /* text-shadow: 0.1em 0.1em 0.2em black; */
}
a > button > i{
    margin-right: .5rem;
}

h1{
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
}
.principal-text > h1{
    font-family: 'Abril Fatface', cursive;

}
section{
    background-color: #B98E6B;
    color: white;
    padding: 2rem;
    /* margin: -0.5rem; */
}

section > h2{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
}
.about > div > h2{
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
}
.about > div > .second{
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
}
.etapa > h2{
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
}
.etapa > div > .block > p:first-child{
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
}
.about{
    background-color: white;
    text-align: center;
    min-height: 100%;
    background-image: url(/assets/images/banner-sobre-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 25rem;
    flex-direction: column;
   
}

.about > div{
    width: 50%;
}
.etapa > h2{
    text-shadow: 0.1em 0.1em 0.2em black;
}

.about > div > h2{
    color: gray;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.about > div > .first{
    color: gray;
    
    font-size: 19px;
    margin-bottom: 5rem;
}
.about > div > .second{

   
    color: #B98E6B;
    /* font-weight: 700; */


   
   
    font-size: 1.3rem;
    margin-bottom: 5rem;
}
.about > div > button {
   
    border: 1px solid #B98E6B;
    border-radius: 1rem;
    font-size: 1.1rem;
    padding: .3rem;
    color: #B98E6B;
   
}

.etapa{

    background-color: white;
    text-align: center;
    min-height: 100%;
    background-image: url(/assets/images/imgbg-home-simples.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 33rem;
    flex-direction: column;
   
}


.etapa > div {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2em;
    align-items: center;
    position: relative;
}


/* .etapa > div::before{
    content: "";
    position: absolute;
    width: 100%;
    border: 1px solid white ;
    left: 0;
    top: .5rem;
} */


.etapa > div > .block{
    margin: 2rem;
    height: 14rem;
    background: #b98e6b70;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
}
/* .etapa > div > .block::after {
    content: "";
    position: absolute;
    background-color: white;
    color: white;
    width: 100%;
    top: -2.5rem;
    left: 0;
    height: 0.2rem;
}
    
.etapa > div > .block::before {
    content: "";
    position: absolute;
    width: 1.3rem;
    right: 50%;
    height: 1.3rem;
    border-radius: 100%;
    background-color: white;
    color: white;
    top: -3rem;
} */

.mini-text{
    font-size: 1.3rem;
    margin-top: 3rem;
}
.etapa > div > .block > p:first-child{
    font-weight: 300;
    /* font-weight: bold; */
    font-size: 1.5rem;
    margin-bottom: 1rem;
    /* text-shadow: 0.1em 0.1em 0.2em black; */
}
.etapa > div > .block > p{
    font-size: 1.5rem;
    /* text-shadow: 0.1em 0.1em 0.2em black; */
}
.etapa > div > h2{
    color: white;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.about > div > .first{
    color: gray;
    
    font-size: 1.1rem;
    margin-bottom: 5rem;
}
b{
    color: #B98E6B; 
}
.about > div > .second{
    color: #B98E6B;
   
    font-size: 1.3rem;
    margin-bottom: 5rem;
}
.about > div > button {
    font-weight: bold;
    border: 1px solid #B98E6B;
    border-radius: 1rem;
    font-size: 1.3rem;
    padding: 0.5rem;
    color: #B98E6B;
    
    margin-bottom: 1rem;
    
}


footer{
    font-weight: bold;
    padding: 1rem;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > div > ul > li > a{
    color: gray;
}
.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redes-sociais{
    display: flex;
    flex-direction: row;
        margin-bottom: 1rem;
}
.redes-sociais > i{
    margin-left: .5rem;
    margin-right: .5rem;
}
footer  > div > img{
    width: 20%;
}
 li > a:hover{
   color: black;
font-weight: bold;
border-bottom: 2px solid black;}
.principal-text > div > a > button{
    cursor: pointer;
   font-family: 'poppins';
}
.principal-text > div > a > button:hover{
    background-color: #B98E6B;
}


 .redes-sociais > a > i:hover{
    /* font-weight: bold; */
    color: #B98E6B;}

    div > ul > li > a:hover{
        color: #B98E6B;
    }
    div > button{
        cursor: pointer;
    }
    div > button:hover{
       background-color:   #B98E6B;
    }
    .about > div > button:hover{
        color: white;
    }
    .etapa > button:hover{
        cursor: pointer;
        background-color: white;
        color: #B98E6B;
        border: 1px solid #B98E6B;
        font-weight: bold;
    }
    .logo {
        margin-top: 0.5rem;}
        .whatsapp {
            position:relative;
            border: none;
            }
            
            .whatsapp > .button{
            cursor: pointer;
            position: fixed;
            width: 67px !important;
                z-index: 10;
                right: .5rem !important;
                bottom: 0rem;
                background-color: transparent;
                color: transparent;
            border: none;
            }
            
            .whatsapp > .button:hover{
              background-color: transparent;
              width: 70px;
              color: transparent;
            transition: 100ms;
              border: transparent;
            }
            .whatsapp > .button > img{
              width: 100%;
              
            }
    @media screen and (max-width: 730px){
        .etapa > div > .block{
            
            height: auto;}
        .whatsapp {
            position: relative;
            border: none;
        }
        .whatsapp > .button:hover {
            background-color: transparent;
            width: 70px;
            color: transparent;
            transition: 100ms;
            border: transparent;
        }
        .whatsapp > .button:hover{
            background-color: transparent;
            width: 50px;
            transform: 1s;
            border: none;
          }
        
          .whatsapp > .button {
            cursor: pointer;
            position: fixed;
            width: 67px !important;
            z-index: 10;
            right: 0.5rem !important;
            bottom: 0rem;
            background-color: transparent;
            color: transparent;
            border: none;
        }
         
          .whatsapp > .button > img{
            width: 65px;
            
          }

        .mini-text{
            margin-top: 0;
        }

     
        .logo > img{
            width: 65%;   
           }
        .etapa > div {
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 2em;
            align-items: center;
            position: relative;
            flex-direction: column;
        }
        .etapa {
            background-color: white;
            text-align: center;
            min-height: 100%;
           
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            display: flex;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            height: 76rem;
            flex-direction: column;
        }

        .about {
            background-color: white;
            text-align: center;
            min-height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            display: flex;
            place-content: center flex-start;
            align-items: center;
            height: 36rem;
            flex-direction: column;
        }

        .principal-text > div{
            display: flex;
            flex-direction: column;
        }

        .etapa > div > .block::before{
            display: none;
        }
        .etapa > div::before{
            display: none;
        }
nav > ul{
    display: none;
}
nav {
    background-color: #B98E6B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.about > div {
    width: 100%;
}
li {
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
footer > div > img {
    width: 50%;
    margin-bottom: 2rem;
}
footer > div > ul > li > a {
    color: gray;
    margin-bottom: 1rem;
}
button {
    cursor: pointer;
    background: transparent;
    color: white;
    font-size: .9rem;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    border: white 2px solid;
}
.principal-text > div {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
}
.principal-text > div > a > button {
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'poppins';
}
    }